<!--<div class="row">-->
<!--  <div class="col-lg-3 col-md-6 col-sm-6">-->
<!--    <div class="card card-stats">-->
<!--      <div class="card-body ">-->
<!--        <div class="row">-->
<!--          <div class="col-5 col-md-4">-->
<!--            <div class="icon-big text-center icon-warning">-->
<!--              <i class="nc-icon nc-globe text-warning"></i>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-7 col-md-8">-->
<!--            <div class="numbers">-->
<!--              <p class="card-category">Capacity</p>-->
<!--              <p class="card-title">150GB-->
<!--                <p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card-footer ">-->
<!--        <hr>-->
<!--        <div class="stats">-->
<!--          <i class="fa fa-refresh"></i> Update Now-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-lg-3 col-md-6 col-sm-6">-->
<!--    <div class="card card-stats">-->
<!--      <div class="card-body ">-->
<!--        <div class="row">-->
<!--          <div class="col-5 col-md-4">-->
<!--            <div class="icon-big text-center icon-warning">-->
<!--              <i class="nc-icon nc-money-coins text-success"></i>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-7 col-md-8">-->
<!--            <div class="numbers">-->
<!--              <p class="card-category">Revenue</p>-->
<!--              <p class="card-title">$ 1,345-->
<!--                <p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card-footer ">-->
<!--        <hr>-->
<!--        <div class="stats">-->
<!--          <i class="fa fa-calendar-o"></i> Last day-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-lg-3 col-md-6 col-sm-6">-->
<!--    <div class="card card-stats">-->
<!--      <div class="card-body ">-->
<!--        <div class="row">-->
<!--          <div class="col-5 col-md-4">-->
<!--            <div class="icon-big text-center icon-warning">-->
<!--              <i class="nc-icon nc-vector text-danger"></i>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-7 col-md-8">-->
<!--            <div class="numbers">-->
<!--              <p class="card-category">Errors</p>-->
<!--              <p class="card-title">23-->
<!--                <p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card-footer ">-->
<!--        <hr>-->
<!--        <div class="stats">-->
<!--          <i class="fa fa-clock-o"></i> In the last hour-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-lg-3 col-md-6 col-sm-6">-->
<!--    <div class="card card-stats">-->
<!--      <div class="card-body ">-->
<!--        <div class="row">-->
<!--          <div class="col-5 col-md-4">-->
<!--            <div class="icon-big text-center icon-warning">-->
<!--              <i class="nc-icon nc-favourite-28 text-primary"></i>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-7 col-md-8">-->
<!--            <div class="numbers">-->
<!--              <p class="card-category">Followers</p>-->
<!--              <p class="card-title">+45K-->
<!--                <p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card-footer ">-->
<!--        <hr>-->
<!--        <div class="stats">-->
<!--          <i class="fa fa-refresh"></i> Update now-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<a id="click" type="button" href="#avg"></a>
<a id="top" type="button" href="#topp"></a>
<h5 class="card-title" id = "topp">Live Readings of Node {{this.nodeId}}</h5>
<div class="card" >
<div class="row">

  <div class="col col-sm-12 col-md-2 col-lg-2 col-12 ">

    <div class="card"   id = "temperature"  (click)="flip($event)" >
      <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="card-body"  *ngIf="!this.toggle[0]">
        <p style="font-size: 140%; alignment: left; " >Temperature </p>
        <p style="font-size: 220%; alignment: right; color: #fbc658"> {{this.avgTemp.toFixed(2)}} <span style="font-size: 70%"> °C</span> </p>
        </div>
      </div>
      <div class="flip-card-back" [ngStyle]="{'height':!this.toggle[1] ? '0px' : '100%'}">
        <div class="card-body ">
          <canvas id=chartTemp  height="300" ></canvas>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="col col-sm-12 col-md-2 col-lg-2 col-12"   >
    <div class="card" id = "ph"  (click)="flip($event)" >
      <div class="flip-card-inner ">
        <div class="flip-card-front" >

          <div class="card-header"  *ngIf="!this.toggle[1]">
            <p class="card-header" style="font-size: 140%">Ph </p>
            <p class="card-header" style="font-size: 220%; color: #51CACF;"> {{this.avgPh.toFixed(2)}}  </p>
          </div>

        </div>
        <div class="flip-card-back" [ngStyle]="{'height':!this.toggle[1] ? '0px' : '100%'}">
          <div class="card-body " >
            <canvas   id=chartPh  height="300" ></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col col-sm-12 col-md-2 col-lg-2 col-12"  >

    <div class="card "  id = "turbidity"  (click)="flip($event)"  >
      <div class="flip-card-inner">
        <div class="flip-card-front" >

          <div class="card-header">
            <p class="card-header" style="font-size: 140%">Turbidity </p>
            <p class="card-header" style="font-size: 220%; color: #ff8a65;"> {{this.avgTurbidity.toFixed(2)}}<span style="font-size: 70%"> NTU</span> </p>

          </div>
        </div>
        <div class="flip-card-back">
          <div class="card-body ">
            <canvas id=chartTurbidity  height="300" ></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col col-sm-12 col-md-6 col-lg-6 col-12"  >

    <div class="card "  >
      <div class="card-body " >

        <div id="map" class="map">

        </div>

    </div>
  </div>
</div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4 col-12">
    <div class="card " id = "pressure"  (click)="flip($event)" >
      <div class="flip-card-inner">
        <div class="flip-card-back" >

          <div class="card-header">
            <p class="card-header" style="font-size: 140%;color: #7e57c2;">Pressure </p>
            <p class="card-header" style="font-size: 220%;color: #7e57c2;"> {{this.avgPressure.toFixed(2)}}  </p>

          </div>
        </div>
        <div class="flip-card-front"  >
          <div class="card-header ">
            <h3 class="card-title">Pressure
            </h3>
          </div>
          <div class="card-body " >
            <canvas id=chartPressure  height="80" > </canvas>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4 col-12">
    <div class="card"  id = "humidity"  (click)="flip($event)"  >
      <div class="flip-card-inner">
        <div class="flip-card-back" >

          <div class="card-header">
            <p class="card-header" style="font-size: 140%;color: #6bd098;">Humidity </p>
            <p class="card-header" style="font-size: 220%;color: #6bd098;"> {{this.avgHumidity.toFixed(2)}}  </p>

          </div>
        </div>
        <div class="flip-card-front">
          <div class="card-header ">
            <h5 class="card-title">Humidity</h5>

          </div>
          <div class="card-body ">
            <canvas id=chartHumidity  height="80" ></canvas>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4 col-12">
    <div class="card"  id = "airQuality"  (click)="flip($event)"  >
      <div class="flip-card-inner">
        <div class="flip-card-back" >

          <div class="card-header">
            <p class="card-header" style="font-size: 140%;color: #6bd098;">Humidity </p>
            <p class="card-header" style="font-size: 220%;color: #6bd098;"> {{this.avgHumidity.toFixed(2)}}  </p>

          </div>
        </div>
        <div class="flip-card-front">
          <div class="card-header ">
            <h5 class="card-title">Air Quality</h5>

          </div>
          <div class="card-body ">
            <canvas id=chartAirQuality  height="80" ></canvas>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>

<!--Averages Graphs-->
<h5 class="card-title" id = "avg">Average Readings of  Node {{this.nodeId}}</h5>
<div class="card " >
  <div class="row">
    <div class="col col-sm-12 col-md-4 col-lg-4 col-12 ">
      <div class="card " id = "tempAvg"  (click)="flip($event)"  >
        <div class="flip-card-inner">
          <div class="flip-card-front"   >
            <div class="card-header" >
              <p style="font-size: 140%">Temperature </p>
              <p class="card-header" style="font-size: 220%;color: #fbc658;"> {{this.avgTemp.toFixed(2)}} <span style="font-size: 70%"> °C</span> </p>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="card-body ">
              <div class="btn-group pull-right btn-group-sm" role="group" id = "tmgp" aria-label="Basic example">
                <button type="button " id = "tm0"  class="btn btn-primary active"  (mouseover)="getTemp($event, daily)">Day</button>
                <button type="button" id = "tm1"  class="btn btn-primary" (mouseover)="getTemp($event, monthly)">Month</button>
                <button type="button" id = "tm2"  class="btn btn-primary" (mouseover)="getTemp($event, yearly)">Year</button>
              </div>
              <canvas id=chartAvgTemp  height="100" ></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-sm-12 col-md-4 col-lg-4 col-12"   >
      <div class="card " id = "phAvg"  (click)="flip($event)"  >
        <div class="flip-card-inner">
          <div class="flip-card-front" >

            <div class="card-header">
              <p class="card-header" style="font-size: 140%">Ph </p>
              <p class="card-header" style="font-size: 220%;color: #51CACF;"> {{this.avgPh.toFixed(2)}}  </p>

            </div>
          </div>
          <div class="flip-card-back">
            <div class="card-body ">
              <div class="btn-group pull-right btn-group-sm" role="group" id = "phgp"  aria-label="Basic example">
                <button type="button " id = "ph0"   class="btn btn-primary active" (mouseover)="getPh($event, daily)">Day</button>
                <button type="button" id = "ph1"  class="btn btn-primary" (mouseover)="getPh($event,monthly)">Month</button>
                <button type="button"id = "ph2"  class="btn btn-primary" (mouseover)="getPh($event,yearly)">Year</button>
              </div>
              <canvas id=chartAvgPh  height="100" ></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-sm-12 col-md-4 col-lg-4 col-12"  >

      <div class="card" id = "turAvg"  (click)="flip($event)"  >
        <div class="flip-card-inner">
          <div class="flip-card-front" >

            <div class="card-header">
              <p class="card-header" style="font-size: 140%">Turbidity </p>

              <p class="card-header" style="font-size: 220%;color: #ff8a65;"> {{this.avgTurbidity.toFixed(2)}}<span style="font-size: 70%"> NTU</span> </p>

            </div>
          </div>
          <div class="flip-card-back">
            <div class="card-body ">
              <div class="btn-group pull-right btn-group-sm" role="group" id = "tgp" aria-label="Basic example">
                <button type="button "  id = "t0" class="btn btn-primary active" (mouseover)="getTurbidity($event, daily)">Day</button>
                <button type="button"  id = "t1"class="btn btn-primary" (mouseover)="getTurbidity($event, monthly)">Month</button>
                <button type="button" id = "t2" class="btn btn-primary" (mouseover)="getTurbidity($event, yearly)">Year</button>
              </div>
              <canvas id=chartAvgTurbidity  height="100" >

              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div style="height: 36%"></div>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-12">
      <div class="card" id = "pressAvg"  (click)="flip($event)"  >
        <div class="flip-card-inner">
          <div class="flip-card-back" >

            <div class="card-header">
              <p class="card-header" style="font-size: 140%;color: #7e57c2;">Pressure </p>
              <p class="card-header" style="font-size: 220%;color: #7e57c2;"> {{this.avgPressure.toFixed(2)}}  </p>

            </div>
          </div>
          <div class="flip-card-front">
            <div class="card-header ">
              <h5 class="card-title">Pressure</h5>
              <div class="btn-group pull-right btn-group-sm" id = "pgp" role="group" aria-label="Basic example">
                <button type="button " id="0" class="btn btn-primary" active (mouseover)="getPressure($event,daily)">Day</button>
                <button type="button" id="1" class="btn btn-primary" (mouseover)="getPressure($event, monthly)">Month</button>
                <button type="button" id="2" class="btn btn-primary" (mouseover)="getPressure($event, yearly)">Year</button>
              </div>
            </div>
            <div class="card-body ">
              <canvas id=chartAvgPressure  height="80" ></canvas>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-12">
      <div class="card"   id = "humAvg"  (click)="flip($event)">
        <div  class="flip-card-inner">
          <div class="flip-card-back" >

            <div class="card-header">
              <p class="card-header" style="font-size: 140%;color: #6bd098;">Humidity </p>
              <p class="card-header" style="font-size: 220%;color: #6bd098;"> {{this.avgHumidity.toFixed(2)}}  </p>

            </div>
          </div>

          <div class="flip-card-front">
            <div class="card-header ">
              <h5 class="card-title">Humidity
                <div class="btn-group pull-right btn-group-sm" id = "hgp" role="group" aria-label="Basic example">
                  <button type="button " id = "h0" class="btn btn-primary active"  (mouseover)="getHumidity($event, daily)">Day</button>
                  <button type="button" id = "h1" class="btn btn-primary" (mouseover)="getHumidity($event,monthly)">Month</button>
                  <button type="button" id = "h2" class="btn btn-primary" (mouseover)="getHumidity($event, yearly)">Year</button>
                </div></h5>

            </div>
            <div class="card-body">
              <canvas id=chartAvgHumidity  height="80" ></canvas>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
